#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 > #backgroundBox {
  background-color: transparent;
  background-image: linear-gradient(90.0deg, #673AB7 0.001%, #FFFFFF 100.0%);
  position: absolute;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 > #alignmentBox {
  position: relative;
  max-width: 1032.0px;
  max-height: 1376.0px;
  width: 100%;
  height: 100%;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Path_1 {
  position: absolute;
  width: 31.973670959472656px;
  height: 44.591800689697266px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 36.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 36.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Path_15 {
  position: absolute;
  width: 32.591796875px;
  height: 8.982439994812012px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Path_2 {
  position: absolute;
  width: 58.70018768310547px;
  height: 58.765289306640625px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Ellipse_1 {
  width: 150.0px;
  height: 150.0px;
  min-height: 150.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 10.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Path_48 {
  position: absolute;
  width: 45.83173751831055px;
  height: 51.04397201538086px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Ellipse_2 {
  width: 150.0px;
  height: 150.0px;
  min-height: 150.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 10.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Ellipse_3 {
  width: 150.0px;
  height: 150.0px;
  min-height: 150.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 10.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Path_67 {
  position: absolute;
  width: 59.131988525390625px;
  height: 73.44967651367188px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Path_52 {
  position: absolute;
  width: 38.26771545410156px;
  height: 43.625px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_2 {
  position: absolute;
  width: 74.0390625px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_3 {
  position: absolute;
  width: 149.01953124999955px;
  min-height: 62.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_4 {
  position: absolute;
  width: 181.36962544917924px;
  min-height: 62.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 150.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 150.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_6 {
  position: absolute;
  width: 557.4282191991781px;
  min-height: 165.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Button_1 {
  position: absolute;
  width: 302.441406249999px;
  min-height: 117.99999999999955px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 #s-Path_3 {
  position: absolute;
  width: 1033.00634765625px;
  height: 8.666645050048828px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cb2c5fb0-d432-4013-b50a-f39c3992f295 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}